@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Inter', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    line-height: 1.6;
  }
}

@layer components {
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-emerald-600 to-rose-500;
  }
}